*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: rgb(97,97,97)
}

li{
    list-style: none;
}

.btns{
    padding: 10px 20px;
    margin-right: 6px;
    background-color: transparent;
    border: none;
    border: 00.6px solid #5c5b5b;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #323232;
}